<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.lolhens.resticui">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:extractNativeLibs="true"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ResticUI">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.folder.FolderActivity"
            android:label="@string/text_folder" />
        <activity
            android:name=".ui.repo.RepoActivity"
            android:label="@string/text_repository" />
        <activity
            android:name=".ui.snapshot.SnapshotActivity"
            android:label="@string/text_snapshot" />

        <service
            android:name=".BackupService"
            android:label="@string/text_backup_service"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>